<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">

    <target type="File" name="flatFile" fileName="${basedir}/app_data/logs/${level}-${shortdate}.log"
            layout="${longdate} ThreadId: ${threadId} ProcessName: ${processName} ${newline}Message: ${message} ${newline}Request Url: ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}${newline}${all-event-properties}${newline}*********">
    </target>

    <!-- json format to tcp endpoint -->
    <target name="json" type="Network" address="tcp://localhost:5000" newLine="true">
      <!--<target name="json" type="File" fileName="${basedir}/app_data/logs/json-${level}-${shortdate}.log">-->
      <layout type="JsonLayout" includeAllProperties="true"  >

        <!--2017-04-22T21:00:26.446Z-->
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-dd'T'HH\:mm\:ss.fffZ:universalTime=true}" />
        <attribute name="logLevel" layout="${level:lowercase=true}" />
        <attribute name="message" layout="${message}" />

        <attribute name='exception' encode='false' >
          <layout type='JsonLayout' >
            <attribute name='message' layout='${exception:format=Message}' />
            <attribute name='type' layout='${exception:format=ShortType}' />
            <!--<attribute name='details' layout='${exception:format=toString,Data}' />-->
          </layout>
        </attribute>

        <attribute name="applicationName" layout="SimpleProjectManager" />
        <attribute name="threadId" layout="${threadId}" />
        <attribute name="machineName" layout="${machineName}" />
        <attribute name="processName" layout="${processName}" />
        <attribute name="requestInfo" layout="${aspnet-request-url}" />
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <attribute name="action" layout="${aspnet-mvc-action}" />
        <attribute name="site" layout="${iis-site-name}" />
        <attribute name="requestUrl" layout="${aspnet-request-url:IncludePort=true:IncludeQueryString=true}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="flatFile,json" />
  </rules>
</nlog>
